
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden; /* Disable scrollbars */
}

.panel {
  display: inline-block;
  background: #000;
  white-space: nowrap;
  font-size: 14px;
  overflow: hidden;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 4px;
  text-align: center;
}


.whiteChar {
  font-weight: bold;
  color: #fff;
}

.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
